*{
	margin: 0;
	padding: 0;
}
html,body{
	font-family:sans-serif;
}
h1{
	text-align: center;
	color: white;
	text-transform: uppercase;
	background-color: #392070;
	padding: 20px;
}
.boxes{
	background-color:#ABBC5A;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	height: 480px;
	font-size: 2em;

}
.box{
	text-transform: uppercase;
	width: 20%;
	margin: 0px auto;
	padding: 40px;
	border-radius: 30px;
}
.box1{
	background-color: #F7BE45;
}

.box2{
	background-color: #579329;
	position: relative;


}
.box3{
	background-color: #FF98AB;
}
.box4{
	background-color: #347A6F;
}
